@import "./libs/reset.less";
@import "./libs/lesshat.less";

/** Common */
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/** Font Related */
body {
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

body {
    font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
    font-size: 11px;
    line-height: 20px;
    font-style: normal;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica"
    , "Arial", "Lucida Grande", "sans-serif";

    font-size: 32px;
    line-height: 40px;
    font-weight: 400; /* normal */
}

strong {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Helvetica"
    , "Arial", "Lucida Grande", "sans-serif";
    font-size: 12px;
    font-weight: 700; /* bold */
}

footer {
    font-size: 12px;
}

/* Background & Color */

body {
    color: #000;
    background: #fff;
}

.info {
    color: #333;
}

.main {
    background: #fbfafa;
}

.light {
    background: #f7f7f7;
}

.strong {
    color: #fff;
    background: #000;
}

.special {
    color: #fff;
    background: #2eabe1;
}

.footer {
    color: #b0b0b0;
}

/* Layout Common */
.section {
    width: 100%;
}

.content {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.content {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.hr {
    clear: both;
    background: #f1eded;
    border: none;
    height: 1px;
    width: 735px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.controller {
    top: 0;
    width: 100%;
    min-height: 40px;
    position: fixed;

    z-index: 20;
    display: none;
}


/* Layout Width */
@left-gap: 150px;
@bottom-gap: 73px;

.content {
    width: 1024px;
}

.content {
    padding-bottom: @bottom-gap;
}

.left {
    padding-left: @left-gap;
}

.left, .right {
    float: left;
}

.break {
    display: block;
}

.row {
    display: block;
    clear: both;
}

.title {
    padding-bottom: 22px;
}

.desc {
    letter-spacing: 2px;
}

/* share btns */
.share-btns {
    .share-facebook, .share-twitter, .share-google, .share-pinterest {
        display: inline-block;
    }

    .share-weibo, .share-qq, .share-wechat {
        display: none;
    }
}

.zh-CN {
    .share-btns {
        .share-facebook, .share-twitter, .share-google, .share-pinterest {
            display: none;
        }

        .share-weibo, .share-qq, .share-wechat {
            display: inline-block;
        }
    }
}

/* page specific */
.vote-btn {
    font-size: 24px;
    color: #fff;
    padding: 0px 40px;
    line-height: 71px;
    letter-spacing: 3px;
    background: #8dc44a;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    .border-radius(7px);
}

.share-btns {
    display: table-cell;
    vertical-align:middle;

    a {
        text-decoration: none;
        padding-right: 12px;
        vertical-align: middle;
        display: inline-block;
    }

    img {
        border: 0;
    }
}


.controller {
    border-bottom: 1px solid #dcdcdc;

    /* appear and disapprar animated */
    display: block;

    .transition(all 0.3s ease);
    .opacity(0);
    margin-top: -100px;

    &.show {
        .transition(all 0.3s ease);
        .opacity(1);
        margin-top: 0px;
    }

    .opacity, content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .opacity {
        z-index: 10;
        background: #fff;
        .opacity(0.6);
    }

    .content {
        z-index: 11;
        .opacity(1);
        padding: 11px 0 11px 134px;


    }

    .vote-btn {
        vertical-align: top;
        font-size: 13px;
        line-height: 35px;
        padding: 0 17px;
        margin-left: 17px;
    }

    .share-btns {
        position: absolute;;
        top: 17px;
        right: 100px;
    }
}

.overview {
    text-align: center;
    position: relative;
    .share-btns {
        position: absolute;
        top: 17px;
        right: 100px;
    }
    .ceil {
        padding-bottom: 5px;
    }

    .left {
        padding-left: 91px;
    }

    .right {
        padding-left: 57px;
        width: 382px;
    }

    .logo {
        padding: 25px 0 15px 0;
    }

    .desc {
        font-size: 15px;
        padding: 0 25px 13px 25px;
    }

    .video {
        height: 215px;
        width: 100%;

        iframe {
            height: 100%;
            width: 100%;
            border: 0;
        }
    }

    .vote-btn {
        margin: 65px auto 0 auto;
    }
}

.scene {
    text-align: left;

    .left {
        padding-top: 166px;
        width: 242px;
    }

    .right {
        position: relative;
        padding: 62px 0 0 84px;
    }

    .point-1, .point-2 {
        position: absolute;
        line-height: 42px;
        width: 240px;
        .ico {
            .border-radius(20px);
            border: 1px solid #000;
            font-size: 20px;
            display: block;
            margin-right: 14px;
            float: left;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 42px;
        }
    }

    .point-1 {
        top: 143px;
        left: 340px;
    }

    .point-2 {
        line-height: 21px;
        top: 268px;
        left: 300px;
    }
}

.smell {
    text-align: left;

    .content {
        padding-top: 75px;
    }

    .row {
        padding: 0 @left-gap;
    }

    .desc {
        width: 557px;
    }

    .icon {
        text-align: center;
        padding-top: 38px;
    }
}

.solve {
    .left {
        padding-top: 140px;
        width: 290px;
    }
    .right {
        padding-top: 96px;
        padding-left: 67px;
    }
}

.benefits {
    .content {
        padding-top: 75px;
        padding-bottom: 0;
    }

    .row {
        padding: 0 100px 0 @left-gap;
    }

    .icon {
        text-align: center;
        padding-top: 78px;
        margin-bottom: -6px;
    }

    .desc {

        li {
            padding-bottom: 3px;
        }
    }
}

.our-team {
    text-align: center;

    .content {
        padding-top: 59px;
        padding-bottom: 52px;
    }
    .title {
        padding-bottom: 51px;
    }
}

.partner {
    text-align: center;
    .content {
        padding: 24px 0;
    }

    .partner {
        padding: 0 20px;
        text-decoration: none;
        img {
            border: 0;
        }
    }
}

.footer {
    text-align: center;
    .content {
        padding-top: 12px;
        padding-bottom: 82px;
    }
}

.zh-CN {
    .overview {
        .logo {
            padding-bottom: 25px;
        }

        .desc {
            padding-bottom: 25px;
        }
    }

    .scene .point-2 {
        line-height: 42px;
    }
}


/* Currently we have no mobile layout, just add some simple css here. */
@media only screen and (max-width: 1023px) {
    body {
        .controller {
            border-bottom: 0;
            border-top: 1px solid #dcdcdc;
            top: auto;
            bottom: 0;

            .content {
                margin: 8px 17px;
                padding: 0;
                width: auto;
            }
            .vote-btn {
                display: block;
                margin: 0;
                text-align: center;
                font-size: 18px;
            }

            .logo {
                display: none;
            }

            .share-btns {
                display: none;
            }
        }

        .hr {
            width: 80%;
        }

        .overview {
            .vote-btn {
                letter-spacing: normal;
                padding: 0px 20px;
                margin: 0 auto;
            }

            .share-btns {
                display: none;
            }
        }

        .section {
            .break {
                display: inline;
            }

            .content {
                width: auto;
                padding: 15px;

                .row, .left, .right, .desc, .video {
                    float: none;
                    display: block;
                    padding: 0 0 15px 0;
                    width: auto;
                }
            }

            .right {
                text-align: center;
            }

            &.overview .content {
                padding-top: 0;
            }

            .partner {
                padding: 0;
                // float: left;
            }

            .point-1, .point-2 {
                display: none;
            }

        }

    }

    .zh-CN {
        .controller {

            .vote-btn {
                font-size: 20px;
            }
        }

    }
}
